{% extends '/dashboard/base.html.twig' %}

{% block body %}
	<div class="container">

		<h1 class="mb-4">Résultats des votes de 'AG NOBATEK' du 22 mars 2021</h1>
		<h2>8 réponses reçues sur 12 votants sollicités</h2>

		<p>Ouverture de la campagne
			{{ campaign.name }}
			le
			{{ campaign.createdAt|date('d-m-Y H:i:s') }}</p>
		<p>Fermeture de la campagne
			{{ campaign.name }}
			le
			{{ campaign.endedAt|date('d-m-Y H:i:s') }}</p>

		{% for resolution in campaign.resolutions %}
			<section>
				<h3>Résolution 1 :
					{{ resolution.name }}</h3>
				<p>{{ resolution.description }}</p>

					<h4>Résultats par collèges</h4>
					<div class="row">
						{% for chart in charts %}
							<div class="col-lg-3">
								{{ render_chart(chart) }}
							</div>
						{% endfor %}
					</div>
			</section>
		{% endfor %}
	</div>
{% endblock %}
