{% extends 'base.html.twig' %}

{% block body %}
<section class="mb-auto">
    <div class="logo">
            <img src="{{ asset('build/images/logo_bgblk.png') }}" alt="Brand" class="img-fluid rounded mx-auto d-block" />
    </div>

    <div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
                <h1 class="text-center mb-4">{{ voter.campaign.name }}</h1>
                    <h3 class="text-center mb-5">Campagne du {{ voter.campaign.startedAt|date('d-m-Y') }}</h3>
                    <div class="card shadow h-50">
                        <h5 class="card-header">Comment ça marche</h5>
                            <div class="card-body overflow-auto">
                                <p class="card-text">
                                    Bienvenue au vote en ligne pour la campagne du {{ voter.campaign.startedAt|date('d-m-Y') }}.
                                    <br><br>
                                    Pour voter c'est très simple, il faut sélectionner votre choix pour chaque résolution : Pour, Contre ou Abstention.  
                                    <br><br>
                                    Une fois le choix de vote sélectionné, vous ne pourrez plus revenir en arriere.
                                    <br><br>
                                </p>
                            </div>
                    </div>
                    <div class="text-center">
                         <a href="{{ path('voter_resolution_index', {'voter_uuid': voter.uuid, 'campaign_uuid': voter.campaign.uuid}) }}" class="btn btn-primary mt-5">Démarrer</a>
                    </div>
			</div>
		</div>
	</div>
</section>



{% endblock %}