{% extends '/dashboard/base.html.twig' %}

{% block title %}Page d'admin des campagnes{% endblock %}

{% block body %}
	<section class="admin_vote">
			<h1>Administration de la campagne :&ensp; {{ campaign.name }}</h1>

			{% if campaign.hasCollege %}
			<div class="mb-4 mt-5">
				<h2>Les collèges de votes</h2>
				<a class="btn btn-primary mt-3" href="{{ path('campaign_college_new', {'uuid': campaign.uuid}) }}">Ajouter un collège</a>
				<a class="btn btn-outline-primary mt-3" href="{{ path('campaign_college_index', {'uuid' :campaign.uuid}) }}">Gerer les collèges</a>
			</div>
			{% endif %}
			<hr>
			<div class="mb-4">
				<h2>Les votants</h2>
				<a class="btn btn-primary mt-3" href="{{ path('campaign_voter_new', {'uuid': campaign.uuid}) }}">Ajouter un votant</a>
				<a class="btn btn-outline-primary mt-3" href="{{ path('campaign_voter_import_csv', {'uuid': campaign.uuid}) }}">Ajouter des votants</a>
				<a class="btn btn-outline-primary mt-3" href="{{ path('campaign_voter_index', {'uuid': campaign.uuid}) }}">Gerer les votants</a>
			</div>
			<hr>
			<div class="mb-4">
				<h2>Les résolutions à voter</h2>
				<a class="btn btn-primary mt-3" href="{{ path('campaign_resolution_new', {'uuid': campaign.uuid}) }}">Ajouter une résolution</a>
				<a class="btn btn-outline-primary mt-3" href="{{ path('campaign_resolution_index', {'uuid' :campaign.uuid}) }}">Gerer les résolutions</a>
			</div>
			<hr>
			<div class="mb-4">
				<h2>Le vote</h2>
					{% if campaign.startedAt is not null and campaign.endedAt is null %}
						<a class="btn btn-danger" href="{{ path('campaign_desactivate', {'uuid': campaign.uuid}) }}">Clôturer le vote</a>
						<a class="btn btn-outline-primary" href="{{ path('results_show', {'uuid' :campaign.uuid}) }}">Consulter les Résultats</a>
					{% endif %}
					{% if campaign.startedAt is not null and campaign.endedAt is not null %}
						<a class="btn btn-primary" href="{{ path('campaign_activate', {'uuid': campaign.uuid}) }}">Démarrer le vote</a>
						<a class="btn btn-outline-primary" href="{{ path('results_show', {'uuid' :campaign.uuid}) }}">Consulter les Résultats</a>
					{% endif %}
					{% if campaign.startedAt is null and campaign.endedAt is null %}
						<a class="btn btn-primary" href="{{ path('campaign_activate', {'uuid': campaign.uuid}) }}">Démarrer le vote</a>
						<a class="btn btn-outline-primary" href="{{ path('results_show', {'uuid' :campaign.uuid}) }}">Consulter les Résultats</a>
					{% endif %}
			</div>
	</section>
{% endblock %}
