{% extends '/dashboard/base.html.twig' %}

{% block title %}A Web Page{% endblock %}

{% block body %}
<div class="container">
    <div class="d-grid gap-2 d-md-flex col-4 ms-auto justify-content-md-end ">
      <a href="{{ path('campaign_new') }}" class="btn btn-primary me-md-2" type="button">Créer une campagne de vote</a>
    </div>
    <div class="card-body">
      <div class="d-flex align-items-center mb-4">
        <h1>Campagne(s) enregistrée(s) sur votre compte</h1>
      </div>

    <table class="table table-striped">
    <thead>
      <tr>
        <th{% if pagination.isSorted('company.name') %} class="sorted"{% endif %}>
      {{ knp_pagination_sortable(pagination, 'Structure', 'company.name') }}</th>
        <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>
      {{ knp_pagination_sortable(pagination, 'Nom de la campagne', 'c.name') }}</th>
        <th{% if pagination.isSorted('c.createdAt') %} class="sorted"{% endif %}>
      {{ knp_pagination_sortable(pagination, 'Date de création', 'c.createdAt') }}</th>
        <th scope="col">Etat</th>
        <th scope="col">Participants</th>
        <th scope="col">Collèges</th>
        <th scope="col">Résolutions</th>
        <th scope="col">Résultats</th>
      </tr>
    </thead>
    <tbody>
      {% for campaign in pagination %}
        <tr>
          <td>
            {% if campaign.company %}
              {{campaign.company.name}}
            {% endif %}
          </td>
          <td>
            <a href="{{ path('campaign_edit', {'uuid': campaign.uuid}) }}">{{campaign.name}}</a>
          </td>
          <td>{{campaign.createdAt|date('d/m/Y')}}</td>
          <td class="{{campaign.status ? 'text-success' : 'text-danger'}}"">{{campaign.status ? 'activé' : 'clôturé'}}</td>
          <td><a href="{{ path('campaign_voter_index', {'uuid': campaign.uuid}) }}">Voir les participants</a></td>
          <td><a href="{{ path('campaign_college_index', {'uuid' :campaign.uuid}) }}">Voir les collèges</a></td>
          <td><a href="{{ path('campaign_resolution_index', {'uuid' :campaign.uuid}) }}">Voir les résolutions</a></td>
          <td><a href="{{ path('results_show', {'uuid' :campaign.uuid}) }}">Voir les résultats du vote</td>
        </tr>
      </tr>
      {% endfor %}
      </tbody>
  </table>

  {{ knp_pagination_render(pagination) }}
  </div>
</div>

{% endblock %}
