{% extends '/dashboard/base.html.twig' %}

{% block body %}

    <section class="colleges_list">
        <h1>Collège(s) de la campagne :&ensp; {{ campaign.name }}</h1>
            <div class="form mt-5">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary my-5">Valider</button>
                    <a class="btn btn-primary my-5" href="{{ path('campaign_edit', {'uuid': campaign.uuid}) }}">Retour à la page d'admin</a>
                {{ form_end(form) }}
            </div>
    </section>

{% endblock %}