<nav class="main-nav" style="width: 280px;">
    <a href="{{ path('welcome_index') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <img src="{{ asset('build/images/LogoLjmTransparentRectangleClair.png') }}" alt="Brand" class="img-responsive"/>
    </a>
    <hr class="sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{ path('campaign_index') }}" class="nav-link text-white" aria-current="page">
          Tableau de bord
        </a>
      </li>
      <li>
        <a href="{{ path('campaign_new') }}" class="nav-link text-white">
          Créer une campagne de votes
        </a>
      </li>
      <li>
        <a href="{{ path('results_index') }}" class="nav-link text-white">
        Résultats
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Utilisateur</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li>
          <a class="dropdown-item" href="{{path('app_logout')}}">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
