{% extends '/dashboard/base.html.twig' %}


{% block body %}
<section class="voters_list">
<h1>Votants déjà enregistrés sur la campagne :&ensp; {{ campaign.name }}</h1>
  {% for voter in campaign.voters %}

          <ul>
              <div class="list">
                  <div class="details">
                      <li>{{ voter.fullname }} <br> {{ voter.email }} | {{ voter.numberOfVote }}</li>
                  </div>
                  <div class="button">
                      <a class="btn btn-outline-primary my-5" href="{{ path('campaign_voter_edit', {'voter_uuid': voter.uuid, 'campaign_uuid': campaign.uuid}) }}">Modifier</a>
                      <form method="post" action="{{ path('campaign_voter_delete', {'voter_uuid': voter.uuid, 'campaign_uuid': campaign.uuid}) }}" onsubmit="return confirm('Ce vote sera définitivement effacé');">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voter.uuid) }}">
                          <button class="btn btn-outline-danger my-5">Supprimer</button>
                      </form>
                  </div>
              </div>
          </ul>
  {# <div class="container">
    <div class="d-grid gap-2 d-md-flex col-4 ms-auto justify-content-md-end "></div>
    <div class="card-body">
      <div class="d-flex align-items-center mb-4">
        <h1>
          Votants déjà enregistrés sur campagne
        </h1>
      </div>
      <table class="table">
      <thead>
          <tr>
              <th scope="col">Nom</th>
              <th scope="col">E-mail</th>
              <th scope="col">Nombre de voix</th>
              <th scope="col"></th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
          {% for voter in campaign.voters %}

              <tr>
                  <td>
                      {{ voter.fullname }}
                  </td>

                  <td>
                      {{ voter.email }}
                  </td>

                  <td>
                      {{voter.numberOfVote }}
                  </td>

                  <td>
                      <a href=" {{ path('campaign_voter_edit', {'voter_uuid': voter.uuid, 'campaign_uuid': campaign.uuid}) }}">
                          Modifier
                      </a>
                  </td>

                  <td>
                    {# TO DO #}
                      {# <a href="{{ path('campaign_voter_delete', {'voter_uuid': voter.uuid, 'campaign_uuid': campaign.uuid}) }}">
                          Supprimer
                      </a>
                  </td>
              </tr>
          {% endfor %}  #}
        {% endfor %}
      </tbody>
  </table>
      <div class="d-grid gap-2 d-md-block col-6 mx-auto justify-content-md-center">
        <a class="btn btn-primary my-5" href="{{ path('campaign_edit', {'uuid': campaign.uuid}) }}">
          Ajouter un votant
                  
        </a>
        <a class="btn btn-primary btn" href="#">
          Ajouter des votants en masse
                  
        </a>
      </div>
      <div class="d-grid gap-2 d-md-block col-4 mx-auto justify-content-md-center">
        <a class="btn btn-primary my-5" href="{{ path('campaign_edit', {'uuid': campaign.uuid}) }}">
          Retour à la page d'admin
                  
        </a>
      </div>
    </div>
  {% endblock %}
  