{% extends '/dashboard/base.html.twig' %}


{% block body %}
<div class="container">
  <div class="d-grid gap-2 d-md-flex col-4' ms-auto justify-content-md-end">
    <div class="card-body">
      <div class="d-flex align-items-center mb-4">
        <h1>Votants déjà enregistrés sur la campagne :&ensp; {{ campaign.name }}</h1>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Mél</th>
            <th scope="col">Collège</th>
            <th scope="col">Nombre de voix</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for voter in campaign.voters %}
            <tr>
              <td>
                {{ voter.fullname }}
              </td>

              <td>
                {{ voter.email }}
              </td>

              <td>
                {{ voter.college.name }}
              </td>

              <td>
                {{ voter.numberOfVote }}
              </td>

              <td class="d-flex justify-content-end align-items-center">
                <a class="btn btn-outline-primary me-2" href="{{ path('campaign_voter_edit', {'voter_uuid': voter.uuid, 'campaign_uuid': campaign.uuid}) }}">Modifier</a>
                <form method="post" action="{{ path('campaign_voter_delete', {'voter_uuid': voter.uuid, 'campaign_uuid': campaign.uuid}) }}" onsubmit="return confirm('Ce votant ne sera plus rattaché à cette campagne');">
                  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voter.uuid) }}">
                  <button class="btn btn-outline-danger">Supprimer</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary my-5" href="{{ path('campaign_voter_new', {'uuid': campaign.uuid}) }}">Ajouter un votant</a>
      <a class="btn btn-primary btn" href="#">Ajouter des votants en masse</a>
      <a class="btn btn-primary my-5" href="{{ path('campaign_edit', {'uuid': campaign.uuid}) }}">Retour à la page d'admin</a>
    </div>
  </div>
</div>
{% endblock %}
  